{% extends "home/base.html" %}

{% block content %}
    <div class="container">
        <h1>Cart Page</h1>
    </div>
    <section class="h-100 h-custom" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card">
              <div class="card-body p-4">

                <div class="row">

                  <div class="col-lg-7">
                    <h5 class="mb-3"><a href="{% url 'product:product_list' %}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Trở lại Menu</a></h5>
                    <hr>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <div>
                        <p class="mb-1">Shopping cart</p>
                        <p class="mb-0">Bạn có {{ order_detail|length }} trong giỏ hàng</p>
                      </div>
                      <div>
                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                            class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                      </div>
                    </div>
                    {% for item in order_detail %}
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}" width="350">
                            </div>
                            <div class="ms-3">
                              <h5>{{ item.product.name }}</h5>
                              <p class="small mb-0">{{ item.product.description|safe}}</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px;">
                              <h5 class="fw-normal mb-0">{{ item.quantity }}</h5>
                            </div>
                            <div style="width: 80px;">
                              <h5 class="mb-0">{{ item.product.price }}.000đ</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-lg-5">

                    <div class="card bg-primary text-white rounded-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                          <h5 class="mb-0">Thông tin đơn hàng</h5>
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                            class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                        </div>

                        <p class="form-label" for="typeName">{{ order.customer.full_name }}</p>
                        <p class="form-label" for="typeName">{{ order.customer.address }} </p>
                        <p class="form-label" for="typeName">{{ order.customer.phone_number }} </p>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between">
                          <p class="mb-2">Giá trị đơn hàng</p>
                          <p class="mb-2"></p>
                        </div>

                        <div class="d-flex justify-content-between">
                          <p class="mb-2">Tiền ship</p>
                          <p class="mb-2">35.000đ</p>
                        </div>

                        <div class="d-flex justify-content-between mb-4">
                          <p class="mb-2">Số tiền cần thanh toán</p>
                          <p class="mb-2"></p>
                        </div>

                        {% if order.id %}
                          <form class="mt-4" action="{% url 'cart:order' order.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-outline form-white mb-4">
                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                  placeholder="Ghi chú đơn hàng" name="description" />
                                <hr/>
                                <input type="submit" type="button" class="btn btn-info btn-block btn-lg" value="Xác nhận đơn hàng">
                            </div>
                          </form>
                        {% endif %}

                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}